.viewport {
  font-size: 16px;

  @media only screen and (max-width: 480px) {
    font-size: 14px !important;
  }
}

p,
ul,
ol {
  margin: 0 0 $space 0;
}

a {
  color: $color-text-link;
  text-decoration: underline;

  &:active,
  &:focus,
  &:hover {
    color: $color-text-link-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-heading;
  line-height: $line-height-heading;
  margin: ($space * 1.5) 0 ($space / 1.5) 0;

  a {
    color: $color-text-heading;
    text-decoration: none;
  }
}

h1,
h2 {
  font-size: 23px;

  @media only screen and (max-width: 480px) {
    font-size: 19px !important;
  }
}

h3 {
  font-size: 20px;

  @media only screen and (max-width: 480px) {
    font-size: 17px !important;
  }
}

h4,
h5,
h6 {
  font-size: 17px;

  @media only screen and (max-width: 480px) {
    font-size: 15px !important;
  }
}

ol,
ul {
  line-height: $line-height-body * 0.8;
  margin-left: $space * 2;
}

li {
  margin-bottom: $space / 2;

  > ol,
  > ul {
    margin-top: $space / 2;
  }
}
