@import "bourbon";
@import "variables";
@import "reset";
@import "base";



.viewport {
  background-color: $viewport-background-color;
  color: $color-text-default;
  font-family: $font-stack-system;
  height: 100% !important;
  line-height: $line-height-body;
  margin: 0 0 0 0;
  padding: 0 ($space / 2) 0 ($space / 2);
  width: 100% !important;
}

.container {
  // margin: 0 auto;
  max-width: 600px;
}




.email__pre-text {
  background-color: $viewport-background-color;
  color: $viewport-background-color;
  font-size: 10px;
  padding: ($space / 3) 0 ($space / 3) 0;
}

.email__header {
  background-color: #0096d6;
  color: #ffffff;
  padding: ($space-l * 1.5) $space-l ($space-l * 1.5) $space-l;

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: 480px) {
    padding: $space-l $space $space-l $space;
  }
}

.email__header-logo {
  display: block;
  width: 250px;
}

.email__body {
  background-color: #ffffff;
  padding: $space-l $space-l $space-l $space-l;

  @media only screen and (max-width: 480px) {
    padding: $space $space $space $space;
  }
}

.email__footer {
  background-color: $viewport-background-color;
  color: $color-text-secondary;
  font-size: 13px;
  margin-bottom: $space * 4;
  padding: ($space * 3) $space ($space * 3) $space;
}






.press-release__header {
  text-align: left;
}

.press-release__body {
  padding-bottom: $space * 2;
  text-align: left;

  img {
    margin: ($space / 2) 0 $space 0;
  }
}

.press-release__document-type {
  color: $color-text-secondary;
  letter-spacing: 2px;
  padding-bottom: $space / 2;
  text-align: left;
  text-transform: uppercase;
}

.press-release__download {
  padding-bottom: $space;
  text-align: left;
}

.press-release__download-link {
  background-color: $viewport-background-color;
  border-left: 4px solid #0096d6;
  display: block;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}




.press-release-title {
  margin: 0 0 0 0;
  padding-bottom: $space;
}



.u-line-height-zero {
  line-height: 0;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}
