<table class="press-release" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="press-release__document-type" align="center" valign="top">
      Press Release
    </td>
  </tr>

  <tr>
    <td class="press-release__header" align="center" valign="top">
      <h1 class="press-release-title">
        Top Engineers Choose Sennheiser Wireless for Optimal Reliability and
        Audio Quality During 2016 American Music Awards
      </h1>

      <!--
      <h2 class="press-release-sub-hed">
        Sound at a professional level: Sennheiser presents the new IE 60 and
        IE 80 ear-canal phones
      </h2>
      -->
    </td>
  </tr>

  <%= partial "partials/download" %>

  <tr>
    <td class="press-release__body" align="center" valign="top">
      <%= partial "partials/fake_body_content" %>
    </td>
  </tr>

  <%= partial "partials/download" %>
</table>
