<tr>
  <td class="press-release__download" align="center" valign="top">
    <div>
      <a class="press-release__download-link" href="">
        Download press release
      </a>
    </div>
  </td>
</tr>
