<p><strong>Los Angeles • December 12, 2016</strong> – Last month’s AMA Awards, held at Microsoft Theater and broadcast to more than eight million viewers on the ABC network, featured several of today’s most talented pop artists such as Bruno Mars, The Weeknd, Ariana Grande and many others. As each artist lit up the stage in a sequence of arresting performances, along with impressive lighting and choreography, the vast majority of engineers handling audio for the show relied on <a href="http://www.sennheiser.com/">Sennheiser</a> wireless for the duration of the performances.</p>

<a href="http://hummingbirdmedia.com/content/02-clients/00-sennheiser/01-press-releases/418-top-engineers-choose-sennheiser-wireless-for-optimal-reliability-and-audio-quality-during-2016-american-music-awards/derek.jpg">
  <img src="http://hummingbirdmedia.com/content/02-clients/00-sennheiser/01-press-releases/418-top-engineers-choose-sennheiser-wireless-for-optimal-reliability-and-audio-quality-during-2016-american-music-awards/derek.jpg" alt="">
</a>

<p>From a technical standpoint, perhaps the brightest star of the evening was the Sennheiser 5000 series wireless microphone combination, which was used by Bruno Mars, The Weeknd, Ariana Grande, Nicki Minaj and several other artists. In particular, the Sennheiser SKM 5200 transmitter, combined with the MD 5235 capsule, proved to be the go-to microphone solution for several FOH and monitor engineers, including Chris Rabold, Ramon Morales, Derek Brener and Vish Wadi.</p>

<p>“It boils down to this: there are a million things in play at an awards show such as this, and the most important thing is my vocal,” comments Brener, who handles FOH for The Weeknd, who was nominated for Artist of the Year and performed his hit single ‘Starboy’ at the event. Brener relied on the SKM 5200/MD 5235 combo for the duration: ”On a live show, concert or broadcast situation, I take comfort in the fact that I can pull up that fader on the vocal and never hear a drop out, whisping or any other audio anomaly. This is huge for me, especially in an environment where there is so much RF and so many potential conflicts.”</p>

<a href="http://hummingbirdmedia.com/content/02-clients/00-sennheiser/01-press-releases/418-top-engineers-choose-sennheiser-wireless-for-optimal-reliability-and-audio-quality-during-2016-american-music-awards/ramon.jpg">
  <img src="http://hummingbirdmedia.com/content/02-clients/00-sennheiser/01-press-releases/418-top-engineers-choose-sennheiser-wireless-for-optimal-reliability-and-audio-quality-during-2016-american-music-awards/ramon.jpg" alt="">
</a>

<p>Ramon Morales, who is responsible for Bruno Mars’ monitors, agrees. “There is always more pressure on everybody at the broadcast events, but when you have the right gear, everything tends to go really well. We had four vocals on the SKM 5200 / MD 5235s and it all sounded great. For Bruno, who is such a consistent performer, the quality and clarity has got to be there every night.” Bruno Mars opened his show by performing his hit ‘24K Magic’.</p>

<h3>MD 5235: Magic in the capsule</h3>

<p>Ariana Grande performed her smash single ’Side to Side’ alongside Nicki Minaj, and also picked up Artist of the Year. Her monitor engineer Vish Wadi first came across Sennheiser wireless microphones while doing sound for Sting in the 1990s, and the 5000 series with Mariah Carey in the late ‘90s. “I used that MD 5235 capsule when it first came out, and since then, I’ve referred to it as ‘the rock’,” he says. ”It is really great for loud stages and has excellent rejection. For Ariana, and many other female artists, it is fantastic because it can accommodate a broad range of dynamics — whether they are singing loudly or softly.”</p>

<p>In larger venues that seat many thousands of people, stage levels are often pushed to their limits. “The main challenge for me is managing spill into the microphone,” observes Chris Rabold, FOH engineer for Bruno Mars. “Whether it is for a television show or live performance of any sort, we need to get a mix that we really like and that takes a great mic capsule. Bruno has been using the MD 5235 for several years now, and we have found that that mic works best for his vocal while minimizing unwanted noise coming back in.”</p>

<p>Rabold adds that Bruno Mars is very particular about the audio quality in his performances: “We do rehearsals, sound checks and he gets the broadcast videos and sends notes if he has any comments,” he says. “I think for him it is about familiarity and comfort — he has been on the SKM 5200 / MD 5235 for so long that he is used to it and knows it. For me, it brings predictability and consistency. I don’t have to EQ too much and I know what the mic is going to do.”</p>

<h3>Hear Hear! Sennheiser wireless monitors</h3>

<p>Any great live performance rests on a performer’s ability to hear herself or himself, and Sennheiser wireless systems were used by a multitude of artists, delivering a flawless RF performance. “For in-ears, everybody was on Sennheiser wireless,” comments Morales. “We had 16 channels of the 2000 series transmitters, combined with G3 belt pack receivers. Everything holds up well and the RF is rock solid.”</p>

<p>Ariana Grande relied on Sennheiser wireless with monitor engineer Vish Wadi opting for an SR 2050 transmitter and EK 2000 belt pack receivers. “Ariana was really happy and Sennheiser delivered, just as I would expect,” he says. Morales adds that equipment choice is a balancing act, and this has to translate across the entire signal chain — from microphones to wireless monitoring systems. “The clarity has got to be there, and there has to be a good balance of everything for it to sound right. And for Bruno, it has got to sound right.”</p>

<p>With such rigorous touring schedules and high-profile awards performances, Rabold, Morales, Brener and Wadi all agree that every show has to be flawless from a technical perspective. ”Every time I go to these awards shows, I see Sennheiser transmitters and capsules all over the place,” says Brener. “Why do they pick that? Because they have faith in it and can trust it. That main vocal is so important and cannot falter.”</p>

<p>“The Sennheiser wireless platform is as rock solid as it gets, and we may be moving to the 9000 series very soon,” concludes Rabold. “You see the Sennheiser SKM 5200 / MD 5235 combination everywhere, and I think there is a reason for that. It just works.”</p>

<strong>Photo captions</strong><br>

Image 1: Derek Brener, FOH engineer for The Weeknd (photo credit: Max Crace)<br>
Image 2: Ramon Morales, monitor engineer for Bruno Mars (photo credit: Irsten Horowitz)<br>

<h3>About Sennheiser</h3>

<p>Audio specialist Sennheiser is one of the world’s leading manufacturers of headphones, microphones and wireless transmission systems. Based in Wedemark near Hanover, Germany, Sennheiser operates its own production facilities in Germany, Ireland and the USA and is active in more than 50 countries. With 19 sales subsidiaries and long-established trading partners, the company supplies innovative products and cutting-edge audio solutions that are optimally tailored to its customers’ needs. Sennheiser is a family-owned company that was founded in 1945 and which today has 2,750 employees around the world that share a passion for audio technology. Since 2013, Sennheiser has been managed by Daniel Sennheiser and Dr. Andreas Sennheiser, the third generation of the family to run the company. In 2015, the Sennheiser Group had sales totaling €682 million.</p>

<p><a href="http://www.sennheiser.com/">www.sennheiser.com</a></p>

<h3>Press Contacts</h3>

<i>North America</i><br>
<b>Jeff Touzeau</b><br>
Public Relations<br>
Hummingbird Media, Inc.<br>
(914) 602-2913<br>
<a href="mailto:jeff@hummingbirdmedia.com">jeff@hummingbirdmedia.com</a><br><br>

<i>Outside of North America</i><br>
<b>Stephanie Schmidt</b><br>
Sennheiser Electronic GmbH & Co. KG<br>
PR Manager Professional Systems<br>
Audio Recording • Broadcast & Media • Live Performance & Music<br>
Am Labor 1 • 30900 Wedemark<br>
Tel. +49 (5130) 600 – 1275<br>
<a href="mailto:stephanie.schmidt@sennheiser.com">stephanie.schmidt@sennheiser.com</a>
