<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="u-line-height-zero" align="center" valign="top">
      <div class="u-text-align-left u-line-height-zero">
        <img class="email__header-logo" src="http://gallery.mailchimp.com/a07c41fc3ab7c1deb80d26751/images/sennheiser_logo.1.png" alt="Sennheiser" />
      </div>

      <div class="u-text-align-right">
        <a href="https://www.twitter.com/">
          <img class="" src="" alt="" />
        </a>
        <a href="https://www.facebook.com/">
          <img class="" src="" alt="" />
        </a>
        <a href="https://www.instagram.com/">
          <img class="" src="" alt="" />
        </a>
      </div>
    </td>
  </tr>
</table>
