<table class="email__pre-text container" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      Put the first sentence of the press release here.
      This will show in a preview area in some email clients.
    </td>
  </tr>
</table>

<table class="email__header container" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <%= partial "partials/header" %>
    </td>
  </tr>
</table>

<table class="email__body container" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <%= partial "partials/body" %>
    </td>
  </tr>
</table>

<table class="email__footer container" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <div>
        *|LIST:DESCRIPTION|*
      </div>

      <div>
        *|LIST:ADDRESS|*
      </div>
    </td>
  </tr>
</table>
